{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "TestDemo",
  "copy": true,
  "targets": {
    "TestDemo": {
      "author": "gaochongyang",
      "time": "2019/10/12 17:28:30",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.190712115057",
          "APRemoteLogging": "1.0.0.190924194557",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.190603103544",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.190911163314"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_ScanCode": {
          "TBScanSDK": "1.0.0.190906193841",
          "APRemoteLogging": "1.0.0.190924194557",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "MPMasAdapter": "1.0.0.190712115057",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.190603103544",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.190911163314"
        }
      },
      "baseline": "10.1.60",
      "frameworks": [
        "APLog.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "mPaas.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "TBScanSDK.framework",
        "TBDecodeSDK.framework"
      ],
      "resources": [
        "APRemoteLogging.bundle",
        "TBScanSDK.bundle"
      ]
    }
  },
  "recent": "TestDemo"
}